.ss01 {  font-family: "宋体"; font-size: 12px; line-height: 18px; color: #FF33CC; text-decoration: none}
a.ss01:hover {  color: #9900FF; text-decoration: underline}
.ss02 {  font-family: "宋体"; font-size: 12px; line-height: 16px; text-decoration: none; color: #9900FF}
a.ss02:hover {  color: #FF33CC; text-decoration: none}
.ss03 {  font-family: "宋体"; font-size: 13px; line-height: 20px; text-decoration: none}
.ss04 {  font-family: "宋体"; font-size: 15px; text-decoration: none; font-style: normal; font-weight: bold; color: #9900FF}
