.zs01 {  font-family: "ו"}
.zs01 {  font-size: 12px; line-height: 18px; text-decoration: none; color: #FF8000}
a.zs01:hover {  color: #FF9A35; text-decoration: underline}
.zs02 {  font-family: "ו"; font-size: 12px; line-height: 20px; color: #000000; text-decoration: none}
a.zs02:hover {  color: #FF9900; text-decoration: none}
