.xz01 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
.xz02 {
	FONT-SIZE: 13px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
A.xz02:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
