.xz01 {  font-family: "ו"; font-size: 12px; line-height: 16px; color: #FFFFFF; text-decoration: none}
.xz02 {  font-family: "ו"; font-size: 13px; line-height: 20px; color: #333333; text-decoration: none}
a.xz02:hover {  color: #666666; text-decoration: underline}
