.zs01 {
	FONT-FAMILY: "ו"
}
.zs01 {
	FONT-SIZE: 12px; COLOR: #ff8000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.zs01:hover {
	COLOR: #ff9a35; TEXT-DECORATION: underline
}
.zs02 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
A.zs02:hover {
	COLOR: #ff9900; TEXT-DECORATION: none
}
